################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Backup
/packages
/web-1/bin
/web-1/obj/Debug
/web-1.Tests/obj
/web-1/web-1.csproj.user
/UpgradeLog.htm
