/*--- Extra Bootstrap Column Padding --*/
.home-inner {
    background-image: url(../Views/image/image1.png);
}

div.transbox {
    background-color: #000000;
    border: 1px solid black;
    opacity: 0.5;
    height: 100%;
    filter: alpha(opacity=60);
    position: relative;
    left: 50%;
    width: 50%;
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #ffffff;
    top: 38%;
    text-align: center;
    position: relative;
}

div.transbox a {
    margin: 5%;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 35%;
}


.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
}