<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SYNTECH</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/fixed.css">

    <!--- Script Source Files -->
    <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!--- End of Script Source Files -->
</head>

<body data-spy="scroll" data-target="#navbarResponsive">
    <!-- Start navigation section-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">SYNTECH</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">关于我们</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">我们的公司</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">产品</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">分布</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">公共关系</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">招贤纳士</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End navigation section-->
    <!--- Start Content Section -->
    <div class="landing">
        <div class="home-wrap">
            <div class="home-inner">
            </div>
        </div>
    </div>

    <div class="row justify-content-center" style="height: 400px">
        <div class="row col-lg-9 justify-content-center" id="tab1">
            <div class="col-lg-9" style="padding-top:150px">
                <h1 class="row">我们的愿景</h1>
                <h3 class="row">每一天，都让世界充满香气</h3>
            </div>
            <div class="col-lg-2" style="padding-top:175px">
                <button type="button" class="btn btn-dark btn-lg" style="width:80%; font-size:30px">了解更多</button>
            </div>
        </div>
    </div>



    <!--- End Content Section -->
    <!--- Start Footer Section -->
    <!-- Footer -->
    <footer class="page-footer font-small bg-dark pt-4">
        <!-- Copyright -->
        <div class="footer-copyright text-center" style="color:white; padding-bottom:20px">
            © 2020 Copyright: SYNTECH
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
    <!--- End Footer Section -->

</body>
</html>