<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SYNTECH</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/fixed.css">
</head>

<body data-spy="scroll" data-target="#navbarResponsive">
    <!-- Start navigation section-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">SYNTECH</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">关于我们</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">我们的公司</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">产品</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">分布</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">公共关系</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">招贤纳士</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End navigation section-->
    <!--- Start Content Section -->
    <div class="landing">
        <div class="home-wrap">
            <div class="home-inner">
                <div class="transbox">
                    <p>为每一位客户提供有价值的生活方式</p>
                    <a class="btn btn-dark btn-lg" href="#">我们的公司</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Second Part-->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6">
                <div class="Text1">SYNTECH</div>
                <div class="Text2">提供有价值的生活方式，致力成为全球新时代生活方式有影响的企业</div>
                <div class="Text3">
                    羡淳上海信息科技有限公司成立于2015年5月,本着“客户至上,质量为本”的原
                    则,“新理念、新生活、新思维、新体验”的经营理念,带领旗下Cottage、REF、JEX等高潜力品
                    牌聚焦中高端玩趣快消个护,为每一位客户提供有价值的生活方式,致力成为全球新时代生活方
                    式有影响力企业。
                </div>
                <a class="Text4 btn-warning btn-outline-light btn-lg" href="#">关于我们</a>
            </div>
            <div class="col-6">
                <img class="image-fluid" src="../Views/image/image2.png" />
            </div>
        </div>
    </div>
    <!-- End Second Part-->
    <!--- End Content Section -->
    <!--- Script Source Files -->
    <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
    <!--- End of Script Source Files -->

</body>
</html>